@charset "UTF-8";
@media (min-width: 768px) and (max-width: 1024px) {
  #navOpen {
    display: none;
  }
  .animate-title {
    top: -21%;
  }
  .bottom_logo {
    width: 300px;
  }
  .header_logo {
    display: none;
  }
  .mv_pict01 {
    height: 420px;
    width: 100%;
  }
  .swiper-wrapper {
    height: 525px;
  }
  .swiper-slide img {
    height: 250px;
  }
  .white_ringo {
    width: 69px;
  }
}

@media (min-width: 1024px) {
  #navOpen {
    display: none;
  }
  .animate-title {
    top: -20%;
  }
  .bottom_logo {
    width: 803px;
  }
  .header_logo {
    display: none;
  }
  .line_dot {
    top: 132px;
    left: 25px;
    opacity: 1;
  }
  .mobile_feature {
    display: none;
  }
  .mobile_product {
    display: none;
  }
  .mv_pict01 {
    height: 1256px;
  }
  .swiper-buttons {
    position: absolute;
    bottom: 0;
    right: 4%;
    padding: 0 !important;
    z-index: 10;
  }
  .swiper-container {
    width: 98%;
    height: 84%;
    padding-top: 60px;
  }
  .swiper-container.slider2 {
    height: 500px;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 25px !important;
    left: 60% !important;
    width: 100px !important;
  }
  .swiper-slide {
    height: 100%;
    width: 100%;
  }
  .swiper-slide img {
    height: auto;
    max-width: 58%;
  }
  .swiper-text {
    position: absolute;
    z-index: 9;
    padding: 0 !important;
    top: 50%;
    left: 62%;
    width: 33%;
  }
  .swiper-text h3:hover {
    color: #d3032b;
  }
  .swiper-wrapper {
    width: 100%;
  }
  .swiper-pagination-bullet-active {
    background: red;
  }
  .product_kv {
    height: 945px;
    width: auto;
  }
  .swiper-button-prev_pc {
    background-image: url(../images/arrow_r.svg);
    background-size: contain;
  }
  .swiper-button-next_pc {
    background-image: url(../images/arrow_l.svg);
    background-size: contain;
  }
  .swiper-button-prev_pc,
  .swiper-button-next_pc {
    margin: 0;
    display: inline-block;
    position: static;
    width: 50px;
    height: 50px;
    top: calc((100% - 50px) * 0.5);
    /* ☆★ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
  }
  .s-right-text {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3vw;
  }
  .s-right-wrap {
    position: relative;
    margin: 0;
  }
  .roll {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    /* display: block; */
    margin: 0 auto;
    text-align: center;
  }
  .pie_btn {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  .pie_icon {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 100%;
  }
  .pie_icon::after {
    content: "";
    position: absolute;
    display: block;
    height: 80px;
    border-right: 2px dotted white;
    right: 17px;
    top: 36px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition-delay: 800ms;
            transition-delay: 800ms;
    opacity: .9;
  }
  .pc_ft_pie {
    position: relative;
  }
  .pc_ft_pie_wrapper {
    position: absolute;
    top: 15%;
    left: 17%;
    width: 60px;
    height: 60px;
  }
  .pc-swiper-text {
    position: absolute;
    top: 127px;
    left: 50px;
    color: #fff;
    width: 300px;
  }
  .roll_circle {
    display: block;
  }
}
/*# sourceMappingURL=responsive.css.map */