// @media(min-width: 780px) {
//   #navOpen {
//     display: none;
//   }
//   .mv_pict01 {
//     height: 740px;
//     width: 100%;
//   }
//   .header_logo {
//     display: none;
//   }
// }

@media(min-width:768px) and ( max-width:1024px) {
  #navOpen {
    display: none;
  }
  .animate-title {
    top: -21%;
  }
  .bottom_logo {
    width: 300px;
  }
  .header_logo {
    display: none;
  }
  .mv_pict01 {
    height: 420px;
    width: 100%;
  }
  .swiper- {
    &wrapper{
      height: 525px;
    } 
  &slide img {
    height: 432px;
    }
  }
  .white_ringo {
    width: 69px;
  }
}

@media(min-width:1024px) {
  #navOpen {
    display: none;
  }
  .bottom_logo {
    width: 803px;
  }
  .header_logo {
    display: none;
  }
  .mv_pict01 {
    height: 835px;
  }
}