@charset "UTF-8";
/* --- mixin 定義 ---------------------------------------- */
body {
  font-family: Lato,Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',Meiryo,"メイリオ",Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',sans-serif;
}

[class*=grid-], [class*=grid_], [class~=grid], [class*=col-], [class*=col_], [class~=col] {
  padding: 0;
  margin: 0;
}

p {
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

.about_inner {
  padding: 0 20px 50px;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 2.2;
}

.about_wrapper {
  background-image: url(../images/background_red.png);
  background-color: rgba(211, 3, 4, 0.9);
  background-blend-mode: lighten;
  background-size: cover;
  margin-bottom: 50px;
}

.about_wrapper p {
  color: white !important;
}

.about p:not(:last-child) {
  margin-bottom: 1em;
}

.animate-title {
  position: absolute;
  top: -10%;
  left: 18px;
  color: white;
  opacity: 0;
  font-size: 20px;
}

.animate-title span {
  margin-right: 0;
  font-size: 18px;
  font-family: Lato;
}

.animate-title.inview {
  opacity: 1;
}

.animate-title.inview .char {
  display: inline-block;
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animate-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}

.animate-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}

.animate-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.animate-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}

.animate-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}

.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

.animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.44s;
          animation-delay: 0.44s;
}

.animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

.animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
}

.animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.arr {
  vertical-align: middle;
}

.arr_linkage {
  text-align: right;
  padding-right: 10px;
  margin-bottom: 2rem;
}

.arr_text {
  color: white;
  font-family: Lato !important;
  font-size: 14px;
  letter-spacing: 1.2px;
  padding-left: 10px;
}

.arr_text.red {
  color: #d3032b;
}

.bottom_logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80%;
}

.circle_arrow {
  display: inline-block;
  text-align: right;
}

.circle_arrow a {
  color: #d3032b;
  font-size: 12px;
  padding-left: 12px;
  font-family: Lato;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.circle_arrow_white {
  stroke: #ffffff !important;
}

.fab {
  color: white;
  font-size: 22px;
  margin-left: 10px;
}

.feature {
  margin-bottom: 2.6rem;
}

.feature_news_article {
  color: #131313;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.4rem;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

.footer_inner {
  padding: 20px 20px 20px;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.footer_wrapper {
  background-image: url(../images/background_red.png);
  background-color: rgba(211, 3, 4, 0.9);
  background-blend-mode: lighten;
  background-size: cover;
  margin-bottom: 50px;
}

.footer_wrapper h2, .footer_wrapper p {
  color: white !important;
  font-family: Lato;
}

.footer_wrapper img {
  padding: 10px 0 0;
}

.footer_wrapper p {
  font-size: 10px;
  line-height: 1.2rem;
}

.header_logo {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 124px;
  z-index: 100;
}

.icons {
  text-align: right;
  padding-bottom: 10px 0 10px;
}

.img-zoom {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}

.inview .img-zoom {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: out-back;
          animation-timing-function: out-back;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.larn_more {
  position: absolute;
  left: 0%;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.layor.active {
  position: fixed;
  z-index: 90;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.line_dot {
  position: absolute;
  top: 40%;
  left: 49%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

.line_dot.inview {
  opacity: 1;
}

.nav_area a {
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 120;
}

.nav_open div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_open div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.nav_open div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.nav_open.active div:nth-last-child(1) {
  -webkit-transform: rotate(45deg) translate(-50%, 0px);
          transform: rotate(45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav_open.active div:nth-last-child(2) {
  opacity: 0;
}

.nav_open.active div:nth-last-child(3) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0px);
          transform: rotate(-45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.news_column {
  margin-bottom: 50px !important;
}

.news_date {
  color: #999;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.1rem;
  margin-top: 20px;
}

.news_inner {
  padding: 0 10px 15px;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.news_ttl {
  font-size: 13px;
  font-weight: 700;
  color: #575757;
  line-height: 1.3rem;
  padding-top: 15px;
  letter-spacing: 1.2px;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt';
}

.news_wrapper h2, .news_wrapper p {
  color: white !important;
  font-family: Lato;
  margin: 0 0 10px;
}

.news_wrapper h2 {
  font-size: 18px;
  font-weight: 400;
}

.news_wrapper p {
  font-size: 13px;
  line-height: 1.2rem;
}

.mobile_menu {
  position: fixed;
  right: -100%;
  width: 70%;
  height: 100vh;
  padding-top: 30px;
  overflow-y: scroll;
  padding-bottom: 40px;
  padding-left: 40px;
  font-family: Lota !important;
  background-color: #d3032b;
  z-index: 110;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.mobile_menu.active {
  right: 0;
}

.mobile_menu button {
  width: 150px;
  height: 50px;
  background-color: black;
  color: #fff;
}

.mobile_menu .icons {
  text-align: left;
  margin-bottom: 30px;
}

.mobile_menu__item a {
  display: inline-block;
  padding: 10px 0 10px;
}

.mobile_menu span {
  color: #fff;
  font-family: Lota;
  letter-spacing: 0.15em;
}

.mobile_menu__item .main_ttl {
  font-size: 1.2rem;
}

.mobile_menu__item .sub_ttl {
  font-size: 1rem;
}

.mobile_menu__item .white_ringo {
  width: 41% !important;
}

.mobile_menu__main {
  padding-bottom: 40px;
}

.mobile_menu__main li:nth-child(1) {
  padding-bottom: 20px;
}

.mobile_menu__white_ringo {
  padding: 20px 0;
}

.mv,
.product {
  position: relative;
}

.mv_pict01 {
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-47%, -136%);
          transform: translate(-47%, -136%);
  width: 20px;
}

.mv .roll_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  width: 80px !important;
  height: 80px !important;
  -webkit-animation: rollkAnime 3.5s linear infinite;
          animation: rollkAnime 3.5s linear infinite;
  -webkit-animation-fill-mode: backwords;
          animation-fill-mode: backwords;
}

.product .roll_circle {
  position: absolute;
  top: 11%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  /* display: block; */
  margin: 0 auto;
  -webkit-animation: rollzAnime 1s , rollpAnime 3.5s linear infinite;
          animation: rollzAnime 1s , rollpAnime 3.5s linear infinite;
  -webkit-animation-fill-mode: backwords;
          animation-fill-mode: backwords;
}

@-webkit-keyframes rollkAnime {
  0% {
    -webkit-transform: translate(-50%, -76%) rotate(0deg);
            transform: translate(-50%, -76%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -76%) rotate(360deg);
            transform: translate(-50%, -76%) rotate(360deg);
  }
}

@keyframes rollkAnime {
  0% {
    -webkit-transform: translate(-50%, -76%) rotate(0deg);
            transform: translate(-50%, -76%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -76%) rotate(360deg);
            transform: translate(-50%, -76%) rotate(360deg);
  }
}

@-webkit-keyframes rollpAnime {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rollpAnime {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rollzAnime {
  0% {
    width: 120px;
    opacity: 0;
  }
  100% {
    width: 70px;
    opacity: 1;
  }
}

@keyframes rollzAnime {
  0% {
    width: 120px;
    opacity: 0;
  }
  100% {
    width: 70px;
    opacity: 1;
  }
}

.pie_icon {
  display: inline-block;
  position: absolute;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, -125%);
          transform: translate(-50%, -125%);
}

.pie_icon::after {
  content: "";
  position: absolute;
  display: block;
  height: 50px;
  border-right: 2px dotted white;
  right: 10px;
  top: 20px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
  opacity: .9;
}

.pie_icon.inview::after {
  -webkit-animation: pieAnime 0.6s ease 0.3s;
          animation: pieAnime 0.6s ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.pie_btn {
  width: 24px !important;
  height: 24px !important;
}

@-webkit-keyframes pieAnime {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes pieAnime {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.product_kv {
  background-image: url(../images/background_top-product.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 450px;
}

.product-atic-ttl {
  font-size: 24px;
  text-transform: uppercase;
}

.section_title {
  color: red;
  font-family: Lato;
  letter-spacing: 3px;
  padding-left: 16px;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section_title.shop {
  color: #959595;
}

.section_title.product {
  color: #fff;
}

.section_title.news {
  padding-bottom: 10px;
  color: #959595;
}

.shop_inner {
  padding: 0 20px 50px;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 2.2;
  padding-top: 20%;
}

.shop_pict {
  position: relative;
}

.shop_wrapper {
  background-image: url(../images/background_red.png);
  background-color: rgba(211, 3, 4, 0.9);
  background-blend-mode: lighten;
  background-size: cover;
  margin-bottom: 50px;
}

.shop_wrapper h2, .shop_wrapper p {
  color: white !important;
  font-family: Lato;
  margin: 0 0 10px;
}

.shop_wrapper h2 {
  font-size: 18px;
  font-weight: 400;
}

.shop_wrapper p {
  font-size: 13px;
  line-height: 1.2rem;
}

.shop_toyosu {
  position: absolute;
  top: 90%;
  left: 5%;
  width: 32%;
  max-width: 360px;
  border: 2px solid white;
}

.slide_dot {
  margin-bottom: 1rem;
}

.slide_dot div {
  background-color: #cecece;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  height: 8px;
  width: 8px;
}

.swiper-slide {
  height: 310px;
}

.swiper-slide img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-buttons {
  padding: 20px !important;
}

.swiper-pagination {
  position: static;
  text-align: left;
  padding: 0 20px;
  margin-top: 20px;
}

.swiper-pagination-bullet-active {
  background: #d3032b;
}

.swiper-text {
  width: 100vw;
  padding: 20px !important;
  margin-bottom: 30px;
}

.swiper-button-prev {
  background-image: url(../images/arrow_r.svg);
  background-size: contain;
}

.swiper-button-next {
  background-image: url(../images/arrow_l.svg);
  background-size: contain;
}

.swiper-button-prev,
.swiper-button-next {
  margin: 0;
  display: inline-block;
  position: static;
  width: 50px;
  height: 50px;
  top: calc((100% - 50px) * 0.5);
  /* ☆★ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.s-left-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13px;
}

.swiper-slide-active .s-left-text {
  -webkit-animation: slideFromLeft 1.5s ease 0s 1 normal;
          animation: slideFromLeft 1.5s ease 0s 1 normal;
}

.s-right-wrap {
  position: relative;
  margin: 0 auto;
}

@-webkit-keyframes slideFromLeft {
  0%, 25% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0%, 25% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.tex_sz13 {
  font-size: 13px;
  font-family: Lato;
  letter-spacing: 2px;
  line-height: 1.2rem;
}

.watch_movie {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 400%);
          transform: translate(-50%, 400%);
  color: white;
  font-size: 0.8rem;
}

.white_ringo {
  width: 22%;
  vertical-align: -2px;
}

.about_inner {
  position: relative;
}

.section_title.about {
  padding-bottom: 60px;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes kf-cover-slide {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */