/* --- mixin 定義 ---------------------------------------- */
@mixin bgi(
   $size: cover, 
   $position: center center,
   $repeat: no-repeat
   ) {
    background: {
    size: $size;
    position: $position;
    repeat: $repeat;
  }
}

@import 'mixin';

body {
  font-family: Loto;
}

[class*=grid-], [class*=grid_], [class~=grid] ,[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
  margin: 0;
}


p{
  font-feature-settings: 'palt';
}



.about_ {
  &inner {
    padding: 0 20px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    line-height: 2.2;
  }
  &wrapper {
    background-color: #d3032b;
    & p {
      color: white !important;
      font-family: Loto !important;
    }
  }
}

// ↓は便利。質問する
.about p:not(:last-child) {
    margin-bottom: 1em;
}

.allow {
  height:  50px;
}

.bottom_logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;

}

// .cover_slide {
//   position: relative;
//   &::after {
//     content: "";
//     position: absolute;
//     z-index: 5;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: orange;
//     @include animation($name: kf-cover-slide);
//   }
//   &.inview {
//     &::after {
//       @include animation ($name: kf-cover-slide);
//     }
//   }
// }

// .cover-slide {
//   position: relative;
//   overflow: hidden;

//   &::after {
//     content: "";
//     position: absolute;
//     z-index: 2;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: #eaebe6;
//     opacity: 0;
//   }
//   &.inview {
//     &::after {
//       opacity: 1;

//       @include animation(
//         $name: kf-cover-slide,
//         $duration: 1.6s,
//         $timing-function: ease-in-out
//       );
//     }
//   }
// }

.feature_ {
  &wrapper {
    padding-bottom: 60px;
    }
  &pict {
    padding-bottom: 30px;
    & img{
      widows: 100%;
    }
  }
}

.header_logo {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 124px;
  z-index: 100;
}

.img-zoom {
  height: 200px;
  object-fit: cover;
  opacity: 0;

  .inview & {
    opacity: 1;
    @include animation(
      $name: kf-cover-slide,
      $timing-function: out-back,
      $duration: 1s
    );
  }
}


// .header_logo {
//   padding-top: 36px !important;
//   padding-left: 18px;
//   &_grid {
//     width: 124px;
//     height: 27px;
//   } 
// }

//ハンバーガーmenu============= 
.nav_area a { //外枠の丸
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 10;
}
.nav_open {
  & div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;

    &:nth-of-type(1) {
      transform: translate(-50%,-10px);
    }
    &:nth-of-type(3) {
      transform: translate(-50%,10px);
    }
  }
}
.nav_open.active div {
  &:nth-last-child(1) {
    transform: rotate(45deg) translate(-50%,0px);
    transform-origin: left;
  }
  &:nth-last-child(2) {
    opacity: 0;
  }
  &:nth-last-child(3) {
    transform: rotate(-45deg) translate(-50%,0px);
    transform-origin: left;
  }
  
}

.news_ {
  &cell {
    color: #545454;
    font-family: Lato;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-feature-settings: 'palt';
    margin-bottom: 2rem !important;
  }

  &wrapper {
    width: 86%;
  }
    
  &date {
    margin-top: 10px;
  }

  &nav {
    & span {
      font-size: 0.7rem;
      font-weight: 700;
      color: red;
      letter-spacing: 0.1rem;
      padding-bottom: 0.5rem;
      text-align: right;
    }
  }
}

//ハンバーガーmenu============= 

.mv {
  position: relative;
}

// .mv_grid {
//   height: 420px;
//   	background-image: url(../../assets/images/background_mainvisual.jpg);
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
// }
.mv_pict01 {
  height: 420px;
  object-fit: cover;
}

.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%,-136%);
  width: 20px; 
}

// 回転アニメーションここから=====================
.roll_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  width: 80px;
  height: 80px;
  animation: rollkAnime 3.5s linear infinite;
  animation-fill-mode:backwords;
}

@keyframes rollkAnime{
  0% {
    transform: translate(-50%,-76%) rotate(0deg);
    }
    
  100% {
         transform: translate(-50%,-76%) rotate(360deg);
       }
}
// 回転アニメーションここまで=====================

.section_title {
  color: red;
  font-family: Lato;
  letter-spacing: 3px;
  padding-left: 16px;
  padding-top: 3rem;
  padding-bottom: 2rem;
  &.shop {
    color: #959595;
  }
}

.slide_dot {
  margin-bottom: 1rem;
  & div {
    background-color: #cecece;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    height: 8px;
    width: 8px;
  }
}

.watch_movie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,400%);
  color: white;
  font-size: 0.8rem;

}

// ================================
.about_inner {
  position: relative;
}

.section_title.about {
  padding-bottom: 60px;
}

.animate-title {
  position: absolute;
  top: -13%;
  left: 18px;
  color: white;
  opacity: 0;
  font-size: 1.2rem;

  & span {
    margin-right: 0;
  }

  &.inview {
    opacity: 1;

    & .char {
      display: inline-block;

      @include animation(
        $name: kf-animate-chars,
        $duration: 0.5s,
        $delay: 0.5s,
        $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both
      );

      @for $i from 1 through 14 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.04s;
          }
      }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


//======================================

// @keyframes kf-cover-slide {
//   0% {
//     left: 0;
//     right: 100%;
//   }
//   50% {
//     left: 100%;
//     right: 100%;
//   }
//   100% {
//     left: 100%;
//     right: 0;
//   }
// }

@keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  // 20% {
  //   transform-origin: left;
  //   transform: scaleX(0.5);
  // }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}