/* --- mixin 定義 ---------------------------------------- */
@mixin bgi(
   $size: cover, 
   $position: center center,
   $repeat: no-repeat
   ) {
    background: {
    size: $size;
    position: $position;
    repeat: $repeat;
  }
}

@import 'mixin';

body {
  font-family: Lato,Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',Meiryo,"メイリオ",Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',sans-serif;
}

[class*=grid-], [class*=grid_], [class~=grid] ,[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
  margin: 0;
}

p{
  font-feature-settings: 'palt';
}

$feature_padding: 20px;



.about_ {
  &inner {
    padding: 0 20px 50px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    line-height: 2.2;
  }
  &wrapper {
    background-image: url(../images/background_red.png);
    background-color:rgba(211,3,4,.9);
    background-blend-mode:lighten;
    background-size: cover;
    margin-bottom: 50px;
    & p {
      color: white !important;
    }
  }
}

// ↓は便利。質問する
.about p:not(:last-child) {
    margin-bottom: 1em;
}

.animate-title {
  position: absolute;
  top: -10%;
  left: 18px;
  color: white;
  opacity: 0;
  font-size: 20px;

  & span {
    margin-right: 0;
    font-size: 18px;
    font-family: Lato;
  }

  &.inview {
    opacity: 1;

    & .char {
      display: inline-block;

      @include animation(
        $name: kf-animate-chars,
        $duration: 0.5s,
        $delay: 0.5s,
        $timing-function: cubic-bezier(0.39, 1.57, 0.58, 1),
        $fill-mode: both
      );

      @for $i from 1 through 14 {
          &:nth-child(#{$i}) {
              animation-delay: $i * 0.04s;
          }
      }
    }
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.arr {
  vertical-align: middle;
}

.arr_ {
  &linkage {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 2rem;
  }
  &text {
    color: white;
    font-family: Lato !important;
    font-size: 14px;
    letter-spacing: 1.2px;
    padding-left: 10px;
    &.red {
      color: #d3032b;
    }
  }
}

.bottom_logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
}
.circle_arrow {
  display: inline-block;
  text-align: right;
  & a {
    color: #d3032b;
    font-size:12px;
    padding-left: 12px;
    font-family: Lato;
    font-weight: 700;
    letter-spacing: 1.2px;
  }
  &_white {
    stroke: #ffffff !important;
  }
}

.fab {
  color: white;
  font-size: 22px;
  margin-left: 10px;
}

.feature {
  margin-bottom: 2.6rem;
}

.feature_news_ {
  &article {
    color: #131313;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1.4rem;
    font-feature-settings: 'palt';
  }
}

.footer_ {
  &inner {
    padding: 20px 20px 0px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  &wrapper {
    background-image: url(../images/background_red.png);
    background-color:rgba(211,3,4,.9);
    background-blend-mode:lighten;
    background-size: cover;
    & h2,p {
      color: white !important;
      font-family: Lato;
    }
    & p {
      font-size: 10px;
      // line-height: 1.2rem;
    }
  }
}

.header_logo {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 124px;
  z-index: 100;
}

.icons {
  text-align: right;
  padding-bottom: 10px 0 10px;
}

.img-zoom {
  height: 200px;
  object-fit: cover;
  opacity: 0;

  .inview & {
    opacity: 1;
    @include animation(
      $name: kf-cover-slide,
      $timing-function: out-back,
      $duration: 1s
    );
  }
}

.larn_more {
  position: absolute;
  left: 0%;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

.layor.active {
  position: fixed;
  z-index: 90;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255,.5);
}

.line_dot {
position: absolute;
    top: 40%;
    left: 49%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
    transform-origin: top;
    transition: all .3s ease;
    transition-delay: 1000ms;
    &.inview {
      opacity: 1;
    }
}

//ハンバーガーmenu============= 
.nav_area a { //外枠の丸
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 120;
}
.nav_open {
  & div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;

    &:nth-of-type(1) {
      transform: translate(-50%,-10px);
    }
    &:nth-of-type(3) {
      transform: translate(-50%,10px);
    }
  }
}
.nav_open.active div {
  &:nth-last-child(1) {
    transform: rotate(45deg) translate(-50%,0px);
    transform-origin: left;
  }
  &:nth-last-child(2) {
    opacity: 0;
  }
  &:nth-last-child(3) {
    transform: rotate(-45deg) translate(-50%,0px);
    transform-origin: left;
  }
  
}
//ハンバーガーmenuここまで============= 


.news_ {
  &column {
    margin-bottom: 50px !important;
  }
  &date {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 0.1rem;
    margin-top: 20px;
  }
  &inner {
    padding: 0 10px 15px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  &ttl {
    font-size: 13px;
    font-weight: 700;
    color: #575757;
    line-height: 1.3rem;
    padding-top: 15px;
    letter-spacing: 1.2px;
    font-feature-settings: 'palt';
  }
  &wrapper {
    & h2,p {
      color: white !important;
      font-family: Lato;
      margin: 0 0 10px;
    }
    & h2 {
      font-size: 18px;
      font-weight: 400;
    }
    & p {
      font-size: 13px;
      line-height: 1.2rem;
    }
  }
}

.mobile_menu {
    position: fixed;
    right: -100%;
    width: 70%;
    height: 100vh;
    padding-top: 30px;
    overflow-y: scroll;
    padding-bottom: 40px;
    padding-left: 40px;
    font-family: Lato !important;
    background-color: #d3032b;
    z-index: 110;
    transition: all 0.6s ease;
  
  &.active {
    right: 0;
  }
  & button {
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  & .icons {
    text-align: left;
    margin-bottom: 30px;
  }
  &__item a {
    display: inline-block;
    padding: 10px 0 10px;
  }
  & span {
    color: #fff;
    font-family: Lato;
    letter-spacing: 0.15em;
  }
  &__item .main_ttl {
    font-size: 1.2rem;
  }
  &__item .sub_ttl {
    font-size: 1rem;
  }
  &__item .white_ringo {
    width: 41% !important;
  }
  &__main {
    padding-bottom: 40px;
    & li:nth-child(1) {
      padding-bottom: 20px;
    }
  }
  &__white_ringo {
    padding: 20px 0;
  }
}

.mv,
.product {
  position: relative;
}

.mv_pict01 {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%,-136%);
  width: 20px; 
}

// 回転アニメーションここから=====================
.roll_circle {
  .mv & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    width: 80px !important;
    height: 80px !important;
    animation: rollkAnime 3.5s linear infinite;
    animation-fill-mode:backwords;
  }
  .product & {
    // position: absolute;
    // top: 0%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    // color: #fff;
    // width: 70px;
    // height: 70px;

    position: absolute;
    top: 11%;
    right: 0;
    bottom: 0;
    left: 0;
    // text-align: center;
    width: 60px;
    height: 60px;
    /* display: block; */
    margin: 0 auto;

    animation: rollzAnime 1s , rollpAnime 3.5s linear infinite;
    animation-fill-mode:backwords;
  }
}

@keyframes rollkAnime {
  0% {
    transform: translate(-50%,-76%) rotate(0deg);
  }

  100% {
    transform: translate(-50%,-76%) rotate(360deg);
  }
}

@keyframes rollpAnime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rollzAnime {
  0% {
    width: 120px;
    opacity: 0;
  }

  100% {
    width: 70px;
    opacity: 1;
  }
}
// 回転アニメーションここまで=====================
#PC_Menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
//  & div {
//   padding: 30px;
//  }
}
.pc_menu_main {
  // position: absolute;
  // top: 40px;
  // left: 50px;
  // & a {
  //   display: block;
  // }
  // & img {
  //   display: block;
  // }
}

.pie_ {
  &icon {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -125%);
      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 50px;
        border-right: 2px dotted white;
        right: 10px;
        top: 20px;
        transform: scaleY(0);
        transform-origin: top;
        transition-delay: 800ms;
        opacity: .9;
      }

    
    &.inview {
      &::after {
        animation: pieAnime 0.6s ease 0.3s;
        animation-fill-mode:forwards;
        // transform: scaleY(1);
      }
    }
  }
  &btn {
    width: 24px !important;
    height: 24px !important;
  }
}

@keyframes pieAnime {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.product_ {
  &kv {
    background-image: url(../images/background_top-product.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
  }
}

.product-atic-ttl{
  font-size: 24px;
  text-transform: uppercase;
}

.section_title {
  color: red;
  font-family: Lato;
  letter-spacing: 3px;
  padding-left: 16px;
  padding-top: 3rem;
  padding-bottom: 2rem;
  &.shop {
    color: #959595;
  }
  &.product {
    color: #fff;
  }
  &.news {
    padding-bottom: 10px;
    color: #959595;
  }
}

.shop_ {
  &inner {
    padding: 0 20px 50px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    line-height: 2.2;
    padding-top: 20%
  }
  &pict {
    position: relative;
  }
  &wrapper {
    background-image: url(../images/background_red.png);
    background-color:rgba(211,3,4,.9);
    background-blend-mode:lighten;
    background-size: cover;
    margin-bottom: 50px;
    & h2,p {
      color: white !important;
      font-family: Lato;
      margin: 0 0 10px;
    }
    & h2 {
      font-size: 18px;
      font-weight: 400;
    }
    & p {
      font-size: 13px;
      line-height: 1.2rem;
    }
  }
  &toyosu {
    position: absolute;//relative=> .shop_pict
    top: 90%;
    left: 5%;
    width: 32%;
    max-width: 360px;
    border: 2px solid white;
  }
}

.slide_dot {
  margin-bottom: 1rem;
  & div {
    background-color: #cecece;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    height: 8px;
    width: 8px;
  }
}

.swiper-slide  {
  height: 310px;//news_articlesの高さ

  & img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
}

.swiper- {
  &buttons {
    padding: $feature_padding !important;
  }
  &pagination {
    position: static;
    text-align: left;
    padding: 0$feature_padding;
    margin-top: 20px;
    &-bullet-active {
      background: #d3032b;
    }
  }
  &text {
    width: 100vw;
    padding: $feature_padding !important;
    margin-bottom: 30px;
  }
}

.swiper-button-{
  &prev {
    background-image: url(../images/arrow_r.svg);
    background-size: contain;
  }
  &next {
    background-image: url(../images/arrow_l.svg);
    background-size: contain;
  }
  
}

.swiper-button-prev,
.swiper-button-next {
  margin: 0;
  display: inline-block;
  position: static;
  width: 50px;
  height: 50px;
  top: calc((100% - 50px) * 0.5);	/* ☆★ページネーション・スクロールバー（50px）を除く縦位置の中央（＝スライドの高さの中央）に一旦配置 */
	&::after {
    display: none;
  }
}

.s-left-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 13px;
}

.swiper-slide-active .s-left-text {
  animation: slideFromLeft 1.5s ease 0s 1 normal;
}

.s-right-wrap {
    position: relative;
    // max-width: 640px;
    margin: 0 auto;
}

@keyframes slideFromLeft {
  0%, 25% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.tex_sz13 {
  font-size: 13px;
  font-family: Lato;
  letter-spacing: 2px;
  line-height: 1.2rem;
}

.watch_movie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,400%);
  color: white;
  font-size: 0.8rem;
}

.white_ringo {
  width: 22%;
  vertical-align: -2px;
}

// ================================
.about_inner {
  position: relative;
}

.section_title.about {
  padding-bottom: 60px;
}





@keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

//　-------------------------------------
